<div class="row">
  <div class="col-xs-12">
    <div class="card text-center">
      <div class="card-header">
        {{recipe.name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{recipe.description}}</h5>
        <p class="card-text">Preparation time: {{recipe.preparationTimeInMinutes}}</p>
      </div>

      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
